.header__bg {
    background: var(--cor-12);  
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0 1.25rem 0;

}

.header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.header__menu a {
    display: inline-block;
    padding: 1.25rem 0px;
    position: relative;
   
}

.header__menu a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--cor-0);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;

}

.header__menu a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    .header__menu {
        gap: 20px;
    }

    .header__menu a {
        background-color: var(--cor-11);
        padding: 0.75rem 1rem;
        border-radius: 4px;
    }

    .header__menu a:hover {
        background-color: var(--cor-10);
    }
    .header__menu a::after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header__menu {
        gap: 0.75rem;
    }

    .header__menu a {
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
    }
}

/*

8px = 0.5rem
12px = 0.75rem
14px = 0.875rem
16px = 1rem
18px = 1.125rem
20px = 1.25rem
24px = 1.5rem
32px = 2rem
40px = 2.5rem
48px = 3rem
60px = 3.75rem
64px = 4rem
80px = 5rem
200px = 12.5rem

TAMANHO DE LINHA (LINE - HEIGHT)
72/64 = 1.125
36/24 = 1.5
*/