.parceiros {
    padding-top: 3.75rem;
    padding-bottom: 7.5rem;
}

.parceiros h2 {
    margin-bottom: 3.75rem;
}

.parceiros ul {
    padding: 0 1.25rem;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}

.parceiros li {
    display: flex;
    padding: 32px;
    border-left: 2px solid var(--cor-2);
}

.parceiros img {
    margin: auto;
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
    border-left: none;
}

.parceiros li:nth-child(n + 5) {
    border-top: 2px solid var(--cor-2);
}

@media (max-width: 800px) {
    .parceiros {
        padding-bottom: 3.75rem;
    }

    .parceiros li {
        display: flex;
        padding: 1.25rem;
    }

    .parceiros h2 {
        margin-bottom: 1.25rem;
    }

    .parceiros ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .parceiros li:nth-child(n + 3) {
        border-top: 2px solid var(--cor-2);
    }
    .parceiros li:nth-child(odd) {
        border-left: none;
    }
}
/*

8px = 0.5rem
12px = 0.75rem
14px = 0.875rem
16px = 1rem
18px = 1.125rem
20px = 1.25rem
24px = 1.5rem
32px = 2rem
40px = 2.5rem
48px = 3rem
60px = 3.75rem
120px = 7.50rem
64px = 4rem
80px = 5rem
200px = 12.5rem

TAMANHO DE LINHA (LINE - HEIGHT)
72/64 = 1.125
36/24 = 1.5
*/