.tecnologia__bg {
    background-color: var(--cor-11);
    box-shadow: inset 0px 80px var(--cor-0), inset 0px -80px var(--cor-0);
}

.tecnologia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    
}

.tecnologia__imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.tecnologia__conteudo {
    padding-top: 160px;
    padding-bottom: 160px;
}

.tecnologia__conteudo > span {
    display: block;
    margin-bottom: 1.25rem;
}

.tecnologia__conteudo h2 {
    margin-bottom: 2rem;
}

.tecnologia__conteudo > p {
    margin-bottom: 1.25rem;
}

.tecnologia__conteudo a {
    margin-bottom: 5rem;
}

.tecnologia__vantagens {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.tecnologia__vantagens h3 {
    margin-bottom: 0.5rem;
    width: max-content;
}

.tecnologia__vantagens img {
    width: 24px;
    margin-bottom: 0.5rem;
}

@media(max-width: 800px) {
    .tecnologia__bg {
        box-shadow: initial;
    }
    .tecnologia {
        grid-template-columns: 1fr;
    }

    .tecnologia__conteudo {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }
    .tecnologia__imagem {
        display: none;
    }

    .tecnologia a {
        margin-bottom: 3.75rem;
    }
}
@media (max-width: 600px) {
    .tecnologia__vantagens {
        flex-direction: column;
    }
} 

/*

8px = 0.5rem
12px = 0.75rem
14px = 0.875rem
16px = 1rem
18px = 1.125rem
20px = 1.25rem
24px = 1.5rem
32px = 2rem
40px = 2.5rem
48px = 3rem
60px = 3.75rem
64px = 4rem
80px = 5rem
200px = 12.5rem

TAMANHO DE LINHA (LINE - HEIGHT)
72/64 = 1.125
36/24 = 1.5
*/